Source: pexts
Section: interpreters
Priority: optional
Maintainer: Marek Habersack <grendel@debian.org>
Standards-Version: 3.5.10.0
Build-Depends: debhelper (>> 4.1.16), pike7.2 (>> 7.2.526), pike7.4-core (>> 7.4.31), pike7.4-dev (>> 7.4.31), libnewt-dev, libmhash-dev, libpam0g-dev, libbz2-dev, libncurses5-dev, autoconf (>> 2.53), automake, libtool, libpcre3-dev, libmcrypt-dev, libgeoip-dev

Package: pike7.2-pexts-admintools
Architecture: any
Depends: ${shlibs:Depends}, pike7.2 (>= ${pikever72}-1) | pike7.2 (<= ${pikever72}-99)
Description: Pike AdminTools module
 Pexts is a collection of Pike extension modules designed
 to fill the gaps that are in the standard Pike distribution.
 .
 This module implements a glue for the more advanced Unix
 system interfaces which aren't supported by the core Pike modules.

Package: pike7.4-pexts-admintools
Architecture: any
Depends: ${shlibs:Depends}, pike7.4 (>= ${pikever74}-1) | pike7.4 (<= ${pikever74}-99)
Description: Pike AdminTools module
 Pexts is a collection of Pike extension modules designed
 to fill the gaps that are in the standard Pike distribution.
 .
 This module implements a glue for the more advanced Unix
 system interfaces which aren't supported by the core Pike modules.

Package: pike7.2-pexts-curses
Architecture: any
Depends: ${shlibs:Depends}, pike7.2 (>= ${pikever72}-1) | pike7.2 (<= ${pikever72}-99)
Description: Pike (N)Curses module
 Pexts is a collection of Pike extension modules designed
 to fill the gaps that are in the standard Pike distribution.
 .
 This module implements a glue for the (N)Curses portable
 terminal access library.

Package: pike7.4-pexts-curses
Architecture: any
Depends: ${shlibs:Depends}, pike7.4 (>= ${pikever74}-1) | pike7.4 (<= ${pikever74}-99)
Description: Pike (N)Curses module
 Pexts is a collection of Pike extension modules designed
 to fill the gaps that are in the standard Pike distribution.
 .
 This module implements a glue for the (N)Curses portable
 terminal access library.

Package: pike7.2-pexts-mhash
Architecture: any
Depends: ${shlibs:Depends}, pike7.2 (>= ${pikever72}-1) | pike7.2 (<= ${pikever72}-99)
Description: Pike Mhash module
 Pexts is a collection of Pike extension modules designed
 to fill the gaps that are in the standard Pike distribution.
 .
 This module implements a glue for the Mhash library of strong
 hashes.

Package: pike7.4-pexts-mhash
Architecture: any
Depends: ${shlibs:Depends}, pike7.4 (>= ${pikever74}-1) | pike7.4 (<= ${pikever74}-99)
Description: Pike Mhash module
 Pexts is a collection of Pike extension modules designed
 to fill the gaps that are in the standard Pike distribution.
 .
 This module implements a glue for the Mhash library of strong
 hashes.

Package: pike7.2-pexts-newt
Architecture: any
Depends: ${shlibs:Depends}, pike7.2 (>= ${pikever72}-1) | pike7.2 (<= ${pikever72}-99)
Description: Pike Newt module
 Pexts is a collection of Pike extension modules designed
 to fill the gaps that are in the standard Pike distribution.
 .
 This module implements a glue for the Newt user interface
 library.

Package: pike7.4-pexts-newt
Architecture: any
Depends: ${shlibs:Depends}, pike7.4 (>= ${pikever74}-1) | pike7.4 (<= ${pikever74}-99)
Description: Pike Newt module
 Pexts is a collection of Pike extension modules designed
 to fill the gaps that are in the standard Pike distribution.
 .
 This module implements a glue for the Newt user interface
 library.

Package: pike7.2-pexts-pcre
Architecture: any
Depends: ${shlibs:Depends}, pike7.2 (>= ${pikever72}-1) | pike7.2 (<= ${pikever72}-99)
Description: Pike PCRE module
 Pexts is a collection of Pike extension modules designed
 to fill the gaps that are in the standard Pike distribution.
 .
 This module implements a glue for the PCRE - perl compatible
 regular expression library.

Package: pike7.4-pexts-pcre
Architecture: any
Depends: ${shlibs:Depends}, pike7.4 (>= ${pikever74}-1) | pike7.4 (<= ${pikever74}-99)
Description: Pike PCRE module
 Pexts is a collection of Pike extension modules designed
 to fill the gaps that are in the standard Pike distribution.
 .
 This module implements a glue for the PCRE - perl compatible
 regular expression library.

Package: pike7.2-pexts-bzip2
Architecture: any
Depends: ${shlibs:Depends}, pike7.2 (>= ${pikever72}-1) | pike7.2 (<= ${pikever72}-99)
Description: Pike bzip2 module
 Pexts is a collection of Pike extension modules designed
 to fill the gaps that are in the standard Pike distribution.
 .
 This module implements a glue for the bzip2 compression
 library.

Package: pike7.4-pexts-bzip2
Architecture: any
Depends: ${shlibs:Depends}, pike7.4 (>= ${pikever74}-1) | pike7.4 (<= ${pikever74}-99)
Description: Pike bzip2 module
 Pexts is a collection of Pike extension modules designed
 to fill the gaps that are in the standard Pike distribution.
 .
 This module implements a glue for the bzip2 compression
 library.

Package: pike7.2-pexts-geoip
Architecture: any
Depends: ${shlibs:Depends}, pike7.2 (>= ${pikever72}-1) | pike7.2 (<= ${pikever72}-99)
Description: Pike GeoIP module
 Pexts is a collection of Pike extension modules designed
 to fill the gaps that are in the standard Pike distribution.
 .
 This module implements a glue for the GeoIP IP to country
 code lookup library.

Package: pike7.4-pexts-geoip
Architecture: any
Depends: ${shlibs:Depends}, pike7.4 (>= ${pikever74}-1) | pike7.4 (<= ${pikever74}-99)
Description: Pike GeoIP module
 Pexts is a collection of Pike extension modules designed
 to fill the gaps that are in the standard Pike distribution.
 .
 This module implements a glue for the GeoIP IP to country
 code lookup library.

Package: pike7.2-pexts-mcrypt
Architecture: any
Depends: ${shlibs:Depends}, pike7.2 (>= ${pikever72}-1) | pike7.2 (<= ${pikever72}-99)
Description: Pike mcrypt module
 Pexts is a collection of Pike extension modules designed
 to fill the gaps that are in the standard Pike distribution.
 .
 This module implements a glue for the mcrypt library of strong
 hashes.

Package: pike7.4-pexts-mcrypt
Architecture: any
Depends: ${shlibs:Depends}, pike7.4 (>= ${pikever74}-1) | pike7.4 (<= ${pikever74}-99)
Description: Pike mcrypt module
 Pexts is a collection of Pike extension modules designed
 to fill the gaps that are in the standard Pike distribution.
 .
 This module implements a glue for the mcrypt library of strong
 hashes.
